<p>
    <strong>Name:</strong>
    <%= @reservation.first_name + " " + @reservation.last_name %>
</p>

<p>
    <strong>Confirmation #</strong>
    <%= @reservation.confirmation %>
</p>

<p>
    <strong>Date of Flight</strong>
    <%= @reservation.flight_time %>
</p>
